

    <nav class="navbar navbar-expand-md navbar-light  container pt-5 pb-5 border border-primary">
        <a class="navbar-brand position-absolute border border-primary" href="#" >
            <img src="assets/img/logo.png" alt="logo" width="20%" height="15%" class="border rounded-circle" >
        </a>
        
         
            <button class="navbar-toggler " style=" position: relative; right:-100px" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon " ></span>
            </button>
        
        



        <div class="collapse navbar-collapse" id="navbarNav">
         <div class=" container-fluid d-flex justify-content-center">
          <ul class="navbar-nav">
            <div class="border border-primary mr-4">
              <li class="nav-item active">
                <a class="nav-link" href="#">Page D'accueil <span class="sr-only">(current)</span></a>
              </li>
            </div>

            <div class="border border-primary mr-4">
              <li class="nav-item">
                <a class="nav-link" href="#">A propos de nous</a>
              </li>
            </div>

            <div class="border border-primary mr-4">
              <li class="nav-item">
                <a class="nav-link" href="#">Contactez-nous</a>
              </li>
            </div>

            <div class="border border-primary mr-4">
              <li class="nav-item">
                <a class="nav-link" href="#">mon compte</a>
              </li>
            </div>


          </ul>
         </div>
        </div>


    </nav>


