

    <nav class="navbar navbar-expand-md navbar-light  container pt-5 pb-5 ">
        
          <a class="navbar-brand  " href="#" style="width: 15%;" >
            <img src="assets/img/logo.png" alt="logo" width="120rem" height="120rem" class="border rounded-circle position-absolute; top:0">
          </a>
        
        
         
            <button class="navbar-toggler " style=" position: relative; right:-100px" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon " ></span>
            </button>
        
        



        <div class="collapse navbar-collapse " id="navbarNav">
         <div class="container-fluid font-weight-bold">
          <ul class="navbar-nav  container-fluid d-flex justify-content-between">
            <div class="">
              <li class="nav-item active">
                <a class="nav-link  text-white" href="#"><p>Page D'accueil</p> <span class="sr-only">(current)</span></a>
              </li>
            </div>

            <div class="">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">A propos de nous</a>
              </li>
            </div>

            <div class=" ">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Contactez-nous</a>
              </li>
            </div>

            <div class=" ">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">mon compte</a>
              </li>
            </div>


          </ul>
         </div>
        </div>


    </nav>


