<div class="container border border-primary">
  <h3 class="pt-5 pb-5">Quallons nous transporter</h3>


<div class="card" style="width: 20rem; background-color: rgb(250, 250, 250); border-radius:20px" >
    

<!--****************************COUNT AND INFO*********************************** -->    
    <div class="d-flex justify-content-center pb-3">
        <div class=" bd-highlight pr-5  pt-4 pb-2"  >
            <div class="count border pl-4 pr-4" style="background-color: rgb(185, 185, 185); border-radius: 20px;">
                0
            </div>
        </div>
        <div class=" bd-highlight pl-5 pt-4 pb-2">
            <div class="rounded-circle pl-2 pr-2" style="background-color: rgb(185, 185, 185); border-radius: 20px;">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            
        </div>
      </div>


      
      




<!--****************************TITLE*********************************** -->
    <img class="card-img-top pl-5 pr-5" src="https://img-19.commentcamarche.net/WNCe54PoGxObY8PCXUxMGQ0Gwss=/480x270/smart/d8c10e7fd21a485c909a5b4c5d99e611/ccmcms-commentcamarche/20456790.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Card title</h5> 
    </div>





<!--****************************LENGTH WEIGHT HEIGHT*********************************** -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <select class="form-control form-control-sm border-0 pl-0 pr-0" style="background-color: rgb(250, 250, 250)">
                <option selected>L</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
          </div>
          <div class="col-sm">
            <select class="form-control form-control-sm border-0 pl-0 pr-0" style="background-color: rgb(250, 250, 250)">
                <option selected>L</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
          </div>
          <div class="col-sm">
            <select class="form-control form-control-sm border-0 pl-0 pr-0" style="background-color: rgb(250, 250, 250)">
                <option selected>H</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
          </div>
          <div class="col-sm">
            <select class="form-control form-control-sm border-0 pl-0 pr-0" style="background-color: rgb(250, 250, 250)">
                <option selected>Kg</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
          </div>
        </div>
      </div>



<!--****************************ADD SUB*********************************** -->


      <div class="d-flex justify-content-center pt-3">
        <div class=" bd-highlight pr-5  pt-2 pb-3" >
            <button type="button" class="btn border  rounded-circle" style="background-color: rgb(185, 185, 185);">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class=" bd-highlight pl-5 pt-2 pb-3">
            <button type="button" class="btn rounded-circle" style="background-color: rgb(185, 185, 185);">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
        </div>
      </div>


</div>


</div>