<div class="bg-white ">
    <div class="d-flex flex-row container pt-5 pb-5 text-center" style="background-color: #FDCFA5">
        <div class="container-fluid d-flex flex-row border-right ">
            <div class=""><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 4rem;"></i></div>
            <div class="container-fluid">
                <h3>Address</h3>
                <div>8 rue de seine</div>
            </div>
            
        </div>
        <div class="container-fluid d-flex flex-row border-right">
            <div class=""><i class="fa fa-phone" aria-hidden="true" style="font-size: 4rem;"></i></div>
            <div class="container-fluid">
                <h3>Telephone</h3>
                <div>8 rue de seine</div>
            </div>
            
        </div>
        <div class="container-fluid d-flex flex-row">
            <div class=""><i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 4rem;"></i></div>
            <div class="container-fluid ">
                <h3>Email</h3>
                <div>8 rue de seine</div>
            </div>
            
        </div>
    
    </div>

    <!-- ----------------------------------------------------------------------- -->

    <div class="d-flex flex-row container pt-3">
      
            <div class=" container-fluid text-center ">
                <img src="assets/img/logo.png" alt="logo" width="35%" height="60%" class="border rounded-circle mt-5" >
            </div>
            <div class=" container-fluid  ">
                <h2>Navigation</h2>
                <div class="list-group list-group-flush pt-3">
                    <button type="button" class="list-group-item list-group-item-action">
                    home
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">1</button>
                    <button type="button" class="list-group-item list-group-item-action">2</button>
                    <button type="button" class="list-group-item list-group-item-action">3c</button>
                    <button type="button" class="list-group-item list-group-item-action" >6</button>
                </div>
            </div>
        
    </div>
</div>
