

  <div class="container pl-5 pr-5 pt-5" style="border-top-left-radius:30px; border-top-right-radius:30px; background-color: rgb(250, 250, 250);">
    <h3 class="pb-4">Place votre commande</h3>

    <form>
        <div class="form-group row">
          <!-- Map level 1 -->  
          <div class="col-sm pr-5 ">
            <input type="Depart" class="form-control border-0" id="inputPassword" placeholder="Depart" style="background-color:  rgb(230, 230, 230); border-radius: 20px; text-align: center;">
          </div>
          
          <!-- button level 1 -->
          
            <div class="border-primary pr-3 pl-3">
                <label for="Depart" class="col-form-label pl-5 pr-5" style="background-color:  #FDCFA5;; border-radius: 20px;">Trottoir</label>
            </div>
            <div class="border-primary pl-3">
                <label for="Depart" class="col-form-label pl-5 pr-5" style="background-color: rgb(185, 185, 185); border-radius: 20px;">etage</label>    
            </div>

        </div>
        <div class="form-group row">
        <!-- Map level 2 -->     
          <div class="col-sm pr-5" >
            <input type="Arrive" class="form-control border-0" id="inputPassword" placeholder="Arrive" style="background-color:  rgb(230, 230, 230); border-radius: 20px; text-align: center;">
          </div>
          
          <!-- button level 2 -->
            <div class="border-primary pr-3 pl-3">
                <label for="Arrive" class=" col-form-label pl-5 pr-5" style="background-color:  #FDCFA5; border-radius: 20px;">Trottoir</label>
            </div>
            <div class="border-primary pl-3">
                <label for="Arrive" class=" col-form-label pl-5 pr-5" style="background-color: rgb(185, 185, 185); border-radius: 20px;">etage</label>
            </div>

        </div>
      </form>

      <!-- line  -->
      <div class="pt-3 pb-2">
        <hr class="border border-primary">
      </div>

  </div>